.rest-row-times-btn {
  min-width: 4.125rem; }

.content-section-list-row {
  padding: 0.875rem 1rem; }
  .content-section-list-row:last-child {
    border-width: 0; }
  .content-section-list-row.hover {
    background: #FFF; }

.rest-row, .rest-row-times-cont {
  float: left;
  line-height: 1.5em; }

.rest-row {
  position: relative;
  width: 100%;
  min-height: 5rem;
  padding: 0; }
  @media only screen and (max-width: 40em) {
    .rest-row {
      margin-bottom: 1rem; } }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row {
      min-height: 0; }
      .poptable-results .rest-row {
        width: calc(100% - 364px);
        padding-right: 1rem; } }
  @media only screen and (min-width:48.0625em) and (max-width:64em) {
    .rest-row {
      width: 50%;
      padding-right: 1rem; }
      .with-times .rest-row {
        width: calc(100% - 364px); } }
  @media only screen and (min-width:64.063em) {
    .rest-row {
      width: 58%; } }

.rest-image {
  cursor: pointer;
  width: 100%; }

.rest-row-info {
  min-width: 8.5rem; }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row-info {
      overflow: hidden;
      margin-bottom: 0.5rem; } }
  .rest-row-info .rest-row-pricing {
    color: rgba(0, 0, 0, 0.12);
    letter-spacing: -0.112em;
    right: 0; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .poptable-results .rest-row-info .rest-row-pricing {
        right: 1rem; } }
    @media only screen and (min-width:48.0625em) {
      .rest-row-info .rest-row-pricing {
        right: 1rem; } }
    @media only screen and (min-width:64.063em) {
      .rest-row-info .rest-row-pricing {
        right: 2rem; } }
    .rest-row-info .rest-row-pricing i {
      font-style: normal;
      color: #000; }
  .rest-row-info .rest-row-name {
    white-space: normal !important; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .rest-row-info .rest-row-name {
        max-width: none; } }
    @media only screen and (min-width:64.063em) {
      .map-showing .rest-row-info .rest-row-name {
        width: 11.125rem; } }
  .rest-row-info .rest-row-review {
    clear: both;
    color: #999;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .domain-commx .rest-row-info .rest-row-review {
      display: none; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .rest-row-info .rest-row-review {
        float: left;
        clear: none;
        width: calc(50% - 1rem); }
        .poptable-results .rest-row-info .rest-row-review {
          width: 100%;
          clear: left; } }
  .rest-row-info .rest-row-meta i {
    color: #E0E0E0;
    font-style: normal; }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row-info .rest-row-meta {
      float: left;
      clear: none;
      width: calc(50% + 1rem);
      text-align: right; }
      .poptable-results .rest-row-info .rest-row-meta {
        width: 100%;
        clear: left;
        text-align: left; } }
  .rest-row-info .rest-row-offer {
    color: #559ebe;
    font-size: 0.875rem; }
    .rest-row-info .rest-row-offer p {
      margin: 0; }
    .rest-row-info .rest-row-offer a {
      color: #559ebe; }
      .rest-row-info .rest-row-offer a:hover {
        color: #3e84a2; }
    .rest-row-info .rest-row-offer .rest-row-offer-link:hover {
      color: #559ebe; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .rest-row-info .rest-row-offer {
        clear: left; } }
    @media only screen and (min-width:40.063em) and (max-width:64em) {
      .rest-row-info .rest-row-offer {
        display: block; } }

.rest-row-times-cont .button.minimal {
  color: #DA3743;
  padding: 0.2rem 1rem; }
.rest-row-times-cont .not-available-message {
  color: #999;
  padding-top: 3px; }
@media only screen and (min-width:40.0625em) and (max-width:48em) {
  .rest-row-times-cont {
    clear: left;
    margin-left: 6rem; }
    .poptable-results .rest-row-times-cont {
      clear: none;
      margin-left: 0; } }
@media only screen and (min-width:48.0625em) {
  .rest-row-times-cont {
    width: 364px;
    float: left; } }
@media only screen and (min-width:64.063em) {
  .rest-row-times-cont {
    width: 42%;
    padding-left: 1rem; } }

.rest-row-times {
  float: none;
  width: 100%; }
  .rest-row-times .notifications {
    position: relative;
    clear: left; }
    .rest-row-times .notifications i {
      top: 7px;
      left: 0; }
    .rest-row-times .notifications span {
      font-size: 0.875rem;
      color: #666;
      margin-left: 15px; }
  @media only screen and (min-width:40.063em) and (max-width:64em) {
    .rest-row-times {
      float: right; } }

.rest-row-promo-wrapper {
  font-size: 0.875rem;
  margin-top: 5px;
  line-height: 1.5em;
  display: inline-block; }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row-promo-wrapper {
      margin-left: 6rem; } }
  @media only screen and (min-width:48.0625em) {
    .rest-row-promo-wrapper {
      width: 50%; } }
  @media only screen and (min-width:64.063em) {
    .rest-row-promo-wrapper {
      width: 42%; } }

.rest-promo-message {
  color: #999;
  margin-bottom: 0.5rem; }

.pagetype-promolist .content-section-list-row:first-child, .pagetype-dinerschoicelist .content-section-list-row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.08); }

.poptable-results, .link-section {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-bottom: 1rem; }
  .poptable-results .content-block-header, .poptable-results .content-block-footer, .link-section .content-block-header, .link-section .content-block-footer {
    padding: 1rem 1.5rem; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .poptable-results .content-block-header, .poptable-results .content-block-footer, .link-section .content-block-header, .link-section .content-block-footer {
        padding: 1rem; } }
  .poptable-results .content-section-list-row, .link-section .content-section-list-row {
    padding: 0.875rem 1.5rem; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .poptable-results .content-section-list-row, .link-section .content-section-list-row {
        padding: 0.875rem 1rem; } }
    .poptable-results .content-section-list-row .rest-row-info, .link-section .content-section-list-row .rest-row-info {
      margin-left: 0; }
  .poptable-results .rest-row-name, .link-section .rest-row-name {
    font-size: 1rem; }
  .poptable-results .rest-row, .link-section .rest-row {
    padding: 0.5rem 0; }
  .poptable-results .rest-row-info, .link-section .rest-row-info {
    line-height: 1rem;
    padding-left: 0; }
  .poptable-results .rest-row-rating, .link-section .rest-row-rating {
    margin-bottom: 0.3rem;
    margin-left: -1px; }

.rest-row-reserve-button {
  float: left;
  clear: left;
  width: 100%; }
  .rest-row-reserve-button .reserve-link.button {
    float: right; }
    @media only screen and (min-width:40.0625em) and (max-width:48em) {
      .rest-row-reserve-button .reserve-link.button {
        float: left; } }
    @media only screen and (min-width:40.0625em) {
      .rest-row-reserve-button .reserve-link.button {
        clear: none; } }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row-reserve-button {
      margin-left: 6rem;
      width: calc(100% - 6rem);
      padding: 0; } }
  @media only screen and (min-width:48.0625em) {
    .rest-row-reserve-button {
      clear: none;
      width: 50%; } }
  @media only screen and (min-width:64.063em) {
    .rest-row-reserve-button {
      width: 42%; } }

.rest-row-topreview, .rest-row-popoffers {
  padding-top: 3px;
  clear: left; }
  @media only screen and (min-width:40.0625em) and (max-width:48em) {
    .rest-row-topreview, .rest-row-popoffers {
      margin-left: 6rem;
      padding: 0; } }
  @media only screen and (min-width:48.0625em) {
    .rest-row-topreview, .rest-row-popoffers {
      width: 50%;
      float: left;
      clear: none; } }
  @media only screen and (min-width:64.063em) {
    .rest-row-topreview, .rest-row-popoffers {
      width: 42%;
      padding-left: 1rem; } }
  .rest-row-topreview .topreview-text, .rest-row-popoffers .topreview-text {
    display: block;
    line-height: 1.2em;
    color: #333;
    width: 100%; }
  .rest-row-topreview .topreview-show-more, .rest-row-topreview .topreview-show-less, .rest-row-popoffers .topreview-show-more, .rest-row-popoffers .topreview-show-less {
    position: absolute;
    right: 0;
    display: none;
    cursor: pointer; }
  .rest-row-topreview .topreview-truncated, .rest-row-popoffers .topreview-truncated {
    height: 2.4em;
    overflow: hidden; }
  .rest-row-topreview .topreview-show-less, .rest-row-popoffers .topreview-show-less {
    bottom: -18px; }
  .rest-row-topreview .topreview-show-more, .rest-row-popoffers .topreview-show-more {
    bottom: 0;
    background-color: #f7f7f7;
    background: linear-gradient(to right, rgba(247, 247, 247, 0), #f7f7f7 30px);
    padding-left: 40px;
    height: 1.2em;
    line-height: 1.2em; }
  .rest-row-topreview .secondary, .rest-row-popoffers .secondary {
    color: #559ebe; }

@media only screen and (max-width: 40em), only screen and (min-width:40.063em) and (max-width:64em) {
  .rest-row-times a:first-child, .rest-row-times a:last-child {
    display: block; } }

.map-list-toggle {
  cursor: pointer;
  display: none; }
  @media only screen and (min-width:40.063em) {
    .map-list-toggle {
      display: block; } }

.map-inner {
  width: 100%;
  z-index: 1;
  border-bottom: 1rem solid #f7f7f7; }
  @media only screen and (min-width:48.0625em) {
    .map-inner {
      border-bottom: 0; } }

@media only screen and (min-width:40.063em) {
  .map-showing .rest-row {
    width: 100%; }
    .map-showing .rest-row .rest-row-name {
      width: 100%;
      padding-right: 40px; }
    .map-showing .rest-row .rest-row-pricing {
      right: 0; } }

.map-container {
  min-height: 380px;
  overflow: hidden;
  margin-left: -1.25rem;
  width: calc(100% + 2.5rem);
  height: 23.75rem; }
  @media only screen and (max-width: 40em) {
    .map-container {
      display: none !important; } }
  @media only screen and (min-width:48.0625em) {
    .map-container {
      min-height: 600px;
      height: 75rem;
      margin-left: 20rem;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block; } }
  @media only screen and (min-width:64.063em) {
    .map-container {
      margin-left: 27.5rem; } }
  @media only screen and (min-width:90.063em) {
    .map-container {
      margin-left: 31.25rem; } }

@media only screen and (min-width:40.063em) and (max-width:64em) {
  .results-map .page-main-content, .results-map .column {
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (min-width:48.0625em) {
  .map-showing .page-ad-section {
    display: none !important; }
  .map-showing .search-results-container.max-width-wrapper {
    width: 100%;
    max-width: 100rem; }
  .map-showing .footer-container {
    display: none; }
  .map-showing .global-footer-system-info {
    display: none; }
  .map-showing .footer-container-short {
    background: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 0.875rem;
    line-height: 1.5em;
    padding-top: 2rem; }
  .map-showing .footer-container, .map-showing .footer-container-short {
    padding-top: 0.5rem; }
    .map-showing .footer-container .footer-base, .map-showing .footer-container-short .footer-base {
      border-top: none;
      padding: 0.5rem 0 1rem; }
  .map-showing .map-container {
    display: block;
    height: 25rem; }
  .map-showing .map-container-inner {
    height: 100%;
    width: 100%; }
  .map-showing .search-row-highlight {
    background: #FFF;
    box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.12); }
  .map-showing .poptable-results {
    display: none; }
  .map-showing .rest-row .column {
    float: none !important;
    width: auto !important; }
  .map-showing .rest-row-info {
    padding-bottom: 0.5rem; } }

.map-placeholder {
  border-width: 0;
  height: 100%; }

@media only screen and (min-width:48.0625em) {
  .map-showing .search-container {
    background: #f7f7f7;
    box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.5);
    left: -42%;
    max-height: 500px;
    max-height: none;
    overflow-y: auto;
    overflow: inherit;
    position: relative;
    width: 20rem; } }
@media only screen and (min-width:64.063em) {
  .map-showing .search-container {
    width: 27.5rem; } }
@media only screen and (min-width:90.063em) {
  .map-showing .search-container {
    width: 31.25rem; } }

@media only screen and (min-width:48.0625em) {
  #map-list-toggle {
    display: inline; }
  .map-showing .page-main-content {
    padding: 0; }
  .map-showing .content-section-list-row {
    padding: 1rem; }
  .map-showing .rest-row-info-cont, .map-showing .rest-row-times-cont {
    width: 100%;
    padding-left: 0; }
  .map-showing .rest-row-info-cont {
    padding-bottom: 0.5rem; }
  .map-showing .rest-row-times-cont {
    padding-top: 0.5rem; }
  .map-showing .content-section-header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .map-showing .footer-container {
    width: 27.5rem;
    box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.5); }
  .map-showing .search-container.to-map-view {
    left: 0;
    display: block;
    float: left; } }

.site-header {
  z-index: 501; }

.pagetype-traveltimesearch.initial-load .filters-bar {
  display: none; }
.pagetype-traveltimesearch.initial-load .search-results {
  display: none; }
.pagetype-traveltimesearch.initial-load .search-image .max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: initial;
  float: inherit; }

.pagetype-traveltimesearch .search-image {
  width: 100%;
  max-width: 100rem;
  z-index: 500; }
  @media only screen and (max-width: 40em) {
    .pagetype-traveltimesearch .search-image .image-container {
      height: 10rem; } }
  .pagetype-traveltimesearch .search-image .image-container .overlay-text {
    position: absolute; }
    .pagetype-traveltimesearch .search-image .image-container .overlay-text h2 {
      font-weight: 100;
      text-transform: none;
      padding: 4px 0; }
    @media only screen and (min-width:40.063em) {
      .pagetype-traveltimesearch .search-image .image-container .overlay-text {
        margin-bottom: -1rem; } }
    @media only screen and (min-width:40.063em) and (max-width:64em) {
      .pagetype-traveltimesearch .search-image .image-container .overlay-text {
        bottom: 12rem; } }
.pagetype-traveltimesearch sup {
  font-size: 1rem;
  top: -1rem; }
.pagetype-traveltimesearch .dtp-picker.with-search .dtp-picker-search-container {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0; }
  @media only screen and (min-width:40.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .dtp-picker-search-container {
      border-left: 0; } }
  @media only screen and (min-width:64.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .dtp-picker-search-container {
      width: calc(48% - 186px);
      border-bottom: none; } }
.pagetype-traveltimesearch .dtp-picker.with-search .party-size-picker {
  width: 33%; }
  @media only screen and (min-width:40.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .party-size-picker {
      width: calc((100% - 232px) / 3); } }
  @media only screen and (min-width:64.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .party-size-picker {
      width: 11%; } }
.pagetype-traveltimesearch .dtp-picker.with-search .time-picker {
  width: 33%; }
  @media only screen and (min-width:40.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .time-picker {
      width: calc((100% - 232px) / 3); } }
  @media only screen and (min-width:64.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .time-picker {
      width: 11%; } }
.pagetype-traveltimesearch .dtp-picker.with-search .date-picker {
  width: 34%; }
  @media only screen and (min-width:40.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .date-picker {
      width: calc((100% - 232px) / 3); } }
  @media only screen and (min-width:64.063em) {
    .pagetype-traveltimesearch .dtp-picker.with-search .date-picker {
      width: 15%; } }
.pagetype-traveltimesearch .dtp-picker .dtp-picker-button {
  width: 100%;
  border-radius: 0 0 3px 3px; }
  @media only screen and (min-width:64.063em) {
    .pagetype-traveltimesearch .dtp-picker .dtp-picker-button {
      width: 15%;
      border-radius: 0 3px 3px 0; } }
.pagetype-traveltimesearch .location-picker {
  display: none; }

.dtp-picker-travel-time {
  float: left;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  @media only screen and (min-width:40.063em) {
    .dtp-picker-travel-time {
      width: 232px;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: none; } }
  @media only screen and (min-width:64.063em) {
    .dtp-picker-travel-time {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      width: 186px; } }

.dtp-travel-time-item {
  float: left;
  width: calc((100% - 102px) / 4);
  height: 3rem; }
  .dtp-travel-time-item a {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 24px 24px; }
  .dtp-travel-time-item.travel-highlighted {
    background-color: #599EBE; }
    .dtp-travel-time-item.travel-highlighted a {
      color: #FFF; }
  @media only screen and (min-width:40.063em) {
    .dtp-travel-time-item {
      width: 32px; } }

.dtp-travel-time-filter {
  position: relative;
  cursor: pointer;
  width: 102px; }
  @media only screen and (min-width:64.063em) {
    .dtp-travel-time-filter {
      width: 56px; } }

.filter-travel-time {
  display: block;
  line-height: 3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 1rem; }
  @media only screen and (min-width:64.063em) {
    .filter-travel-time {
      font-size: 12px;
      line-height: 12px;
      padding: 11px 16px 11px 6px; }
      .filter-travel-time:after {
        top: -5px;
        left: 5px; } }

.dtp-travel-time-walk a {
  background-image: url('/s/content/images/icons/walk.png'); }
.dtp-travel-time-walk.travel-highlighted a {
  background-image: url('/s/content/images/icons/walk-white.png'); }

.dtp-travel-time-public a {
  background-image: url('/s/content/images/icons/train.png'); }
.dtp-travel-time-public.travel-highlighted a {
  background-image: url('/s/content/images/icons/train-white.png'); }

.dtp-travel-time-car a {
  background-image: url('/s/content/images/icons/car.svg'); }
.dtp-travel-time-car.travel-highlighted a {
  background-image: url('/s/content/images/icons/car-white.svg'); }

.dtp-travel-time-bike a {
  background-image: url('/s/content/images/icons/bike.svg'); }
.dtp-travel-time-bike.travel-highlighted a {
  background-image: url('/s/content/images/icons/bike-white.svg'); }

body.interim {
  background: #ECECEC !important;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.search-results-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-height: 24.875rem; }
  @media only screen and (min-width:64.063em) {
    .search-results-container {
      padding-left: 2.25rem;
      padding-right: 2.25rem; } }

.menu-section {
  max-height: 350px; }

.page-main {
  min-height: 37.5rem; }

.footer-container {
  clear: both; }

.footer-container-short {
  margin-top: 1rem;
  padding-left: 1.25rem;
  padding-right: 2.25rem;
  width: 100%;
  box-shadow: 0 0 -2px 2px rgba(0, 0, 0, 0.5); }

.page-content-header {
  border-bottom: none; }

.page-header {
  border-bottom: none; }

.dtp-picker-select {
  width: 100%; }

.menu-header {
  padding: 0.8rem 1rem; }

.page-header-content {
  padding-bottom: 0.5rem;
  padding-top: 1.75rem; }

.no-results h3 {
  padding-bottom: 1.5rem; }
.no-results .no-result-message {
  margin-bottom: 0.5rem; }

.dtp-picker {
  background: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin: 0; }
  .dtp-picker .dtp-picker-button {
    box-shadow: 0 0 0 1px #da3743; }

/* JW 02/09/14: The updates below prevent the top section of the DC footer from using the default column layout, fixing various tickets in the process. Going forward, the entire section needs looking at. */
.content-section-link-lists .dc-links-buttons {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }
  .content-section-link-lists .dc-links-buttons .link {
    width: 30%;
    min-width: 30%;
    float: left;
    text-align: left; }
    .content-section-link-lists .dc-links-buttons .link + .link {
      margin-left: 5%; }
  .content-section-link-lists .dc-links-buttons .link:nth-child(3n+4) {
    margin-left: 0; }
  @media only screen and (min-width:64.063em) {
    .content-section-link-lists .dc-links-buttons .link-list {
      width: 21.25%;
      min-width: 21.25%;
      float: left;
      text-align: left; }
    .content-section-link-lists .dc-links-buttons .link:nth-child(3n+4) {
      margin-left: 5%; }
    .content-section-link-lists .dc-links-buttons .link:nth-child(4n+5) {
      margin-left: 0; } }
  .content-section-link-lists .dc-links-buttons .tag-button {
    margin-right: 0; }
  .content-section-link-lists .dc-links-buttons .tag-button.with-icon:before {
    line-height: 1.5; }
  .content-section-link-lists .dc-links-buttons .button:hover {
    background-color: rgba(0, 0, 0, 0.06); }
.content-section-link-lists ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  text-align: left; }
  .content-section-link-lists ul li {
    margin-bottom: 0.75rem;
    display: inline-block; }
    .content-section-link-lists ul li a.secondary {
      color: #559ebe; }

.topreview-container {
  position: relative;
  margin-bottom: 4px; }

.search-image {
  position: relative; }
  .search-image .image-container {
    position: relative;
    height: 289px; }
    .search-image .image-container .max-width-wrapper {
      height: inherit; }
    .search-image .image-container .overlay-text {
      position: absolute;
      bottom: 0; }
      .search-image .image-container .overlay-text img#emblem {
        position: absolute;
        width: 8rem;
        bottom: 1rem; }
      .search-image .image-container .overlay-text .emblem-offset {
        margin-left: 9rem; }
      .search-image .image-container .overlay-text h2 {
        font-size: 1.3125rem;
        margin: 0;
        color: #FFF;
        font-weight: 500;
        text-transform: uppercase; }
      .search-image .image-container .overlay-text h1 {
        font-size: 2.25rem;
        font-weight: 100;
        color: #FFF;
        margin-bottom: 0.6875rem; }
      @media only screen and (min-width:40.063em) {
        .search-image .image-container .overlay-text {
          bottom: 5.5rem;
          margin-bottom: -1rem; } }
  .search-image .search-control .page-header {
    background: transparent; }
  @media only screen and (min-width:40.063em) {
    .search-image .search-control {
      position: absolute;
      width: 100%;
      bottom: 1rem; }
      .search-image .search-control .page-header {
        background: transparent; } }

.page-description {
  color: #999;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5em; }
  .page-description b, .page-description h3 {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5em; }

h3 + .page-description {
  margin-top: 1rem; }

.result-promo-title {
  color: #999; }

.domain-jp .result-promo-title:before {
  content: ' ';
  clear: right;
  display: block; }

.promo-more-details {
  margin-top: 1rem;
  color: #999;
  font-size: 0.875rem; }
  .promo-more-details i, .promo-more-details b {
    font-style: normal;
    font-weight: 500; }

.filter-button-toggle {
  padding: 1rem 0.3rem;
  display: block;
  color: #559ebe; }
  @media only screen and (min-width:64.063em) {
    .filter-button-toggle {
      padding-left: 1.25rem;
      padding-right: 1.25rem; } }
  .filter-button-toggle:before {
    margin-right: 0.5rem;
    top: 2px;
    position: relative; }
  .filter-button-toggle:hover {
    color: #3e84a2;
    cursor: pointer; }
  .filter-button-toggle.with-icon i {
    display: none;
    float: right;
    font-style: normal;
    line-height: 20px; }
    @media only screen and (min-width:64.063em) {
      .filter-button-toggle.with-icon i {
        display: block; } }

.filters-bar {
  *zoom: 1;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  width: 100%;
  z-index: 15;
  max-width: 100rem; }
  .filters-bar:before, .filters-bar:after {
    content: " ";
    display: table; }
  .filters-bar:after {
    clear: both; }
  .filters-bar #view-toggle {
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem; }
  .filters-bar .filters-list {
    *zoom: 1;
    display: inline; }
    .filters-bar .filters-list:before, .filters-bar .filters-list:after {
      content: " ";
      display: table; }
    .filters-bar .filters-list:after {
      clear: both; }
    .filters-bar .filters-list > li {
      float: left;
      position: relative; }
      .filters-bar .filters-list > li span.filters {
        display: block;
        padding: 1.2rem 2rem 1.2rem 1.2rem;
        position: relative;
        color: #666; }
        .filters-bar .filters-list > li span.filters:hover {
          color: #000;
          cursor: pointer; }
        .filters-bar .filters-list > li span.filters:before {
          content: "\e60b"; }
        .filters-bar .filters-list > li span.filters:before {
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 0.8rem;
          display: block;
          position: absolute;
          right: 0.75rem;
          top: 52.5%;
          line-height: 0; }
    .filters-bar .filters-list .filter-option-time, .filters-bar .filters-list .filter-option-pop {
      padding-top: 17px;
      margin-left: 1rem;
      color: #666; }
      .filters-bar .filters-list .filter-option-time:hover, .filters-bar .filters-list .filter-option-pop:hover {
        color: #333; }

.filters-menu-block {
  position: relative; }

.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
  background: #e0ddda;
  color: #999;
  height: 100%;
  max-width: 100rem;
  opacity: 0.4;
  padding-top: 20%;
  text-align: center; }
  .loader .spinner {
    margin-bottom: 1rem; }

.interim-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 1.5rem; }
  .interim-loader .spinner {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem; }

.loader-content {
  font-size: 120%;
  text-align: center; }

.link-section {
  background: #FFF;
  margin-top: 1rem;
  margin-bottom: 0; }
  .link-section h6 {
    padding: 0.5rem 1.5rem; }
  .link-section ul {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .link-section .content-block-header.with-border {
    margin-bottom: 1.5rem; }

.poptable-results {
  background: #FFF8F0;
  margin-top: 0; }

.pop-about-link {
  float: right;
  font-size: 0.875rem;
  color: #559ebe;
  line-height: 1.5rem; }
  .pop-about-link:hover {
    color: #3e84a2; }

.pop-title {
  float: left; }

.menu .dn-arrow {
  background: url('../../hybrid/images/dropdown-arrow-dn.png') no-repeat;
  display: block;
  width: 20px;
  height: 8px;
  margin-left: 8px;
  margin-top: -2px; }
.menu.dn:before {
  content: none; }

.lb-v-dummy, .lb-h-dummy {
  height: 100%;
  display: block;
  width: 1px; }

.lb-clear {
  clear: both; }

.lb-wrap {
  z-index: 0;
  overflow: auto;
  position: relative; }

.lb-v-scrollbar, .lb-h-scrollbar {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 0.375rem; }

.lb-v-scrollbar {
  right: 2px;
  top: 2px;
  width: 0.375rem;
  height: 100%; }

.lb-h-scrollbar {
  bottom: 2px;
  left: 2px;
  width: 100%;
  height: 0.375rem; }

.lb-v-scrollbar-slider, .lb-h-scrollbar-slider {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem; }

.lb-v-scrollbar-slider {
  width: 0.375rem;
  height: 50px; }

.lb-h-scrollbar-slider {
  height: 0.375rem;
  width: 50px; }

.tooltip {
  background: none repeat scroll 0 0 #FFF;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0px);
  width: 220px;
  z-index: 15; }

.icon.icon-tooltip-arrow {
  background-image: url('../images/icons/tooltip-arrow.png');
  width: 35px; }

.icon-tooltip-arrow {
  bottom: -18px;
  left: 50%;
  margin-left: -17.5px;
  position: absolute; }

.icon {
  background-repeat: no-repeat;
  display: block;
  height: 18px;
  width: 18px; }

/* SINGLE SEARCH MODAL */
#single-search-modal-placeholder {
  position: relative; }
  @media only screen and (max-width: 40em), only screen and (min-width:40.0625em) and (max-width:48em) {
    #single-search-modal-placeholder {
      width: calc(100% + 2.5rem) !important; } }

#single-search-modal {
  padding: 1rem;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  z-index: 1;
  position: absolute; }
  @media only screen and (max-width: 40em), only screen and (min-width:40.0625em) and (max-width:48em) {
    #single-search-modal {
      width: 100% !important;
      border-width: 1px 0;
      border-radius: 0; } }

.icon-single-search-modal {
  position: absolute;
  height: 8px;
  width: 20px;
  background-size: 100%;
  z-index: 10; }

.icon-single-search-modal.top {
  bottom: -1px;
  background-image: url('../../images/light-menu-arrow@2x.png'); }

.icon-single-search-modal.bottom {
  background-image: url('../../images/light-menu-arrow-down@2x.png'); }

.reserve-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  clear: both; }
  .reserve-link.right {
    clear: none; }

.button.medium {
  padding: 0.5rem 1.5rem 0.5625rem 1.5rem; }

.with-points {
  position: absolute;
  background: #A12028;
  color: #FFF;
  border-radius: 50%;
  font-size: 0.675rem;
  width: 0.8125rem;
  height: 0.8125rem;
  line-height: 0.8125rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  font-weight: 500;
  text-align: center;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  top: -7px;
  right: -7px;
  font-style: normal; }

/* JC 18/8/14: Remove this and update markup to use the existing star CSS from the SRS */
.star-rating, .star-rating-text {
  display: inline-block; }

.stars:before {
  content: '\e61e \e61e \e61e \e61e \e61e';
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.12); }

.cnt-5, .cnt-4-5, .cnt-4, .cnt-3-5, .cnt-3, .cnt-2-5, .cnt-2, .cnt-1-5, .cnt-1, .cnt-0-5 {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }
  .cnt-5:before, .cnt-4-5:before, .cnt-4:before, .cnt-3-5:before, .cnt-3:before, .cnt-2-5:before, .cnt-2:before, .cnt-1-5:before, .cnt-1:before, .cnt-0-5:before {
    color: #FEAB6C; }

.cnt-5 {
  width: 100%; }

.cnt-4-5 {
  width: 90%; }

.cnt-4 {
  width: 80%; }

.cnt-3-5 {
  width: 70%; }

.cnt-3 {
  width: 60%; }

.cnt-2-5 {
  width: 50%; }

.cnt-2 {
  width: 40%; }

.cnt-1-5 {
  width: 30%; }

.cnt-1 {
  width: 20%; }

.cnt-0-5 {
  width: 10%; }

.star-rating-text {
  color: #999;
  position: relative; }

.star-cont {
  position: relative;
  float: left;
  overflow: hidden; }

#ad-iframe-AdControlFloatingFooter {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100; }

@media only screen and (max-width: 40em) {
  .notifications, .page-ad-section {
    display: none !important; } }

@media only screen and (min-width:40.063em) {
  .dtp-picker .dtp-picker-selector, .dtp-picker .dtp-picker-button {
    width: 25%; } }

@media only screen and (min-width:64.063em) {
  .max-width-wrapper {
    width: 100%;
    float: left; }
  .filters-menu {
    position: relative;
    display: block; }
    .filters-menu .menu {
      left: 0.5rem; }
  .filters-menu-block {
    float: left; }
  .content-section-link-lists ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; }
    .content-section-link-lists ul a.secondary {
      color: #559ebe; } }

@media only screen and (min-width:90.063em) {
  .max-width-wrapper {
    width: 100%;
    float: left; } }

.button.minimal, li.rating {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 0.95rem; }

li.rating {
  padding: 0.5rem 1rem; }

.pagetype-promolist .image-container {
  background-size: cover; }
.pagetype-promolist .page-description {
  margin-bottom: 2rem; }
  .pagetype-promolist .page-description h2, .pagetype-promolist .page-description h3 {
    color: #666;
    line-height: 1.5em;
    font-size: 1.3125rem; }
  .pagetype-promolist .page-description p {
    font-weight: 100;
    font-size: 1.3125rem; }
.pagetype-promolist .results-title {
  font-size: 1rem;
  font-weight: 300; }
.pagetype-promolist .content-section-header {
  padding-bottom: 1rem; }

.right .menu-container {
  right: 1rem; }

.right .menu::before {
  right: 1.5rem;
  left: auto; }

.map-info-window {
  width: 320px !important; }

.map-inner {
  height: 100%; }

body.faux-checkboxes .filter-option-locations .menu-container, body.faux-checkboxes .filter-option-cuisines .menu-container, body.faux-checkboxes .filter-option-prices .menu-container {
  position: absolute;
  top: 0;
  width: 992px; }
body.faux-checkboxes .filter-option-locations .menu-list-label, body.faux-checkboxes .filter-option-cuisines .menu-list-label, body.faux-checkboxes .filter-option-prices .menu-list-label {
  width: 25%;
  float: left;
  padding-left: 2.5rem; }
  body.faux-checkboxes .filter-option-locations .menu-list-label:after, body.faux-checkboxes .filter-option-cuisines .menu-list-label:after, body.faux-checkboxes .filter-option-prices .menu-list-label:after {
    content: '\e628';
    font-family: icons;
    left: 1rem;
    top: 50%;
    line-height: 0;
    position: absolute;
    color: #999; }
  body.faux-checkboxes .filter-option-locations .menu-list-label.highlight, body.faux-checkboxes .filter-option-cuisines .menu-list-label.highlight, body.faux-checkboxes .filter-option-prices .menu-list-label.highlight {
    background-color: #FFF;
    color: #333; }
    body.faux-checkboxes .filter-option-locations .menu-list-label.highlight:after, body.faux-checkboxes .filter-option-cuisines .menu-list-label.highlight:after, body.faux-checkboxes .filter-option-prices .menu-list-label.highlight:after {
      content: '\e629';
      color: #da3743; }
  body.faux-checkboxes .filter-option-locations .menu-list-label:hover, body.faux-checkboxes .filter-option-cuisines .menu-list-label:hover, body.faux-checkboxes .filter-option-prices .menu-list-label:hover {
    background-color: #FFF; }

body.faux-checkboxes-vertical-sort .filter-option-locations .menu-with-checkboxes, body.faux-checkboxes-vertical-sort .filter-option-cuisines .menu-with-checkboxes, body.faux-checkboxes-vertical-sort .filter-option-prices .menu-with-checkboxes {
  -webkit-column-count: 4;
  -moz-column-count: 4; }
body.faux-checkboxes-vertical-sort .filter-option-locations .menu-list-label, body.faux-checkboxes-vertical-sort .filter-option-cuisines .menu-list-label, body.faux-checkboxes-vertical-sort .filter-option-prices .menu-list-label {
  width: 100%; }

.rest-row-meta div {
  display: inline; }
.rest-row-meta div.ab-testing-hide {
  display: none; }
